:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.deploycard {
  width: 14rem;
}

.running {
  background-color: #428FDC;
}

.success {
  background-color: #2DA160;
}

.failed {
  background-color: #dd2b0e;
}

.warning {
  background-color: #ab6100;
}

.undefined {
  background-color: #868686;
}

a {
  color:white;
  text-decoration: none;
}