:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.deploycard {
  width: 14rem;
}

.running {
  background-color: #428fdc;
}

.success {
  background-color: #2da160;
}

.failed {
  background-color: #dd2b0e;
}

.warning {
  background-color: #ab6100;
}

.undefined {
  background-color: #868686;
}

a {
  color: white;
  text-decoration: none;
}

.progress:hover {
  transform: scale(1.1);
}

a:hover {
  color: white;
  font-weight: 700;
}

.nopipeline {
  font-size: .8em;
  color:#99a0a7
}

.css-1p3m7a8-multiValue:hover{
  background-color: #FFBDAD;
}